<script>
	import './styles.css';
	import Footer from './components/Footer.svelte';
</script>

<div class="app">
	<main>
		<slot />
	</main>
	<Footer />
</div>

<style>
	.app {
		display: flex;
		flex-direction: column;
	}
</style>
