<script>
	import Header from './components/Header.svelte';
	import ModalVideo from './components/ModalVideo.svelte';
	import Content from './components/Content.svelte';
	import ModalFilter from './components/ModalFilter.svelte';
	import buttonPath from '$lib/audio/button.mp3';
	import { onMount } from 'svelte';
	import { createListPokemon, pokeTypes } from '../api/pokemon';
	import Loader from './Loader.svelte';

	import { storage, defaultValue } from './storable.js';

	// Set initial variable state
	let {
		mute,
		allTypes,
		pokemonTypes,
		pokemonSelected,
		pokemonFiltered,
		pokemonList,
		filterWeight,
		filterHeight,
		selectedTypes
	} = typeof $storage === 'string' ? JSON.parse($storage) : JSON.parse(defaultValue);

	// Handle variable changes to set in localStorage
	$: {
		storage.set({
			mute,
			allTypes,
			pokemonTypes,
			pokemonSelected,
			pokemonFiltered,
			pokemonList,
			filterWeight,
			filterHeight,
			selectedTypes
		});
	}

	onMount(async () => {
			// Check if the pokemon list is empty
		if (!pokemonList.length) {
			// Get  list of pokemon types
			pokeTypes().then((list) => {
				if (!!list.length) {
					// Set the selectedTypes array to a list of all the pokemon types.
					selectedTypes = list.map((item) => item.name.toLowerCase());
					// Set the pokemonTypes with complete list of type od pokemon.
					pokemonTypes = list;
				}
			});

			// Get the 150 pokemon of first generation
			createListPokemon(150).then((list) => {
				if (!!list.length) {
					pokemonList = list;
					pokemonFiltered = list;
					pokemonSelected = list[0];
				}
			});
		}
	});

	function pressButtonSound() {
		if (!mute) {
			const audioFile = new Audio(buttonPath);
			audioFile.play();
		}
	}

	function filterPokemon(searchInput) {
		!searchInput
			? (pokemonFiltered = pokemonList)
			: (pokemonFiltered = pokemonList.filter((item) =>
					item.name.toLowerCase().includes(searchInput.toLowerCase())
			  ));
	}

	function selectPokemon(id) {
		pokemonSelected = pokemonList.find((item) => id === item.id);
		pressButtonSound();
	}

	function selectAllTypes() {
		if (!allTypes) {
			selectedTypes = pokemonTypes.map((item) => item.name.toLowerCase());
		} else {
			selectedTypes = [];
		}
		allTypes = !allTypes;
	}

	// This function sets the active state for a given name
	function setActive(name) {
		// If allTypes is true, set it to false
		if (!!allTypes) {
			allTypes = false;
		}
		// Toggle element on list
		if (selectedTypes.indexOf(name) != -1) {
			selectedTypes = selectedTypes.filter((item) => item != name);
		} else {
			selectedTypes = [...selectedTypes, name];
		}
	}

	/**
 * Filters pokemon list based on given parameters
 * @param {Array} pokemonFill - list of pokemon to filter
 * @param {Number} height - pokemon height to filter by
 * @param {Number} weight - pokemon weight to filter by
 * @param {Array} types - array of pokemon types to filter by
 * @returns {Array} - filtered list of pokemon
 */

	function applyPokeFilters(pokemonFill, height, weight, types) {
		let filtered = pokemonFill;
		let dataPokemonTypes = pokemonTypes.map((item) => item.name);
		let selectedLength = dataPokemonTypes.length === types.length;

		// Filter the list of pokemon based on the given parameters
		let fil = filtered.filter((item) => {
			// Check if match conditions should be true and assign to match variable
			let match = !weight && !height && selectedLength,
				matchWeight = !weight,
				matchHeight = !height,
				matchSelectedLength = selectedLength;

			// If weight parameter is present and matches the current pokemon's weight, set matchWeight to true
			if (!!weight && Number(item.weight) === Number(weight)) {
				matchWeight = true;
			}

			// If height parameter is present and matches the current pokemon's height, set matchHeight to true
			if (!!height && Number(item.height) === Number(height)) {
				matchHeight = true;
			}

	    // If not all types are selected, check if the current pokemon type has at least one of the selected types
			if (!selectedLength) {
				let itemTypes = item.typepokemon.map(({ type: { name } }) => name);
				matchSelectedLength = types.some((itemName) =>
					itemTypes.some((current) => current.includes(itemName))
				);
			}


	    // Return true if match conditions are met or if weight, height, and types conditions are met
			return match || (matchWeight && matchHeight && matchSelectedLength);
		});

		return fil;
	}

	const cancelSound = () => (mute = !mute);

	const setFilter = (type, value) => {
		if (type === 'Weight') {
			filterWeight = value;
		} else {
			filterHeight = value;
		}
	};
</script>

<svelte:head>
	<title>Tensoreye Healthcare - Abilities Assessment by Jesus Contreras</title>
	<meta name="description" content="Pokedex for Tensoreye" />
</svelte:head>

<section>
	<ModalVideo {pressButtonSound} />
	<ModalFilter
		{pressButtonSound}
		{filterWeight}
		{filterHeight}
		{setFilter}
		{allTypes}
		{selectAllTypes}
		{pokemonTypes}
		{selectedTypes}
		{setActive}
	/>

	<Header {mute} {pressButtonSound} {cancelSound} />

	{#if pokemonList.length}
		<Content
			{filterPokemon}
			{applyPokeFilters}
			{pokemonFiltered}
			{filterHeight}
			{filterWeight}
			{selectedTypes}
			{selectPokemon}
			{pokemonSelected}
		/>
	{:else}
		<Loader />
	{/if}
</section>

<style>
	section {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #880214;
	}

	@media (max-width: 768px) {
		section {
			margin-top: 0rem;
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
	}
</style>
