<script>
	import Screen from './Screen.svelte';
	import List from './List.svelte';

	export let filterPokemon;
	export let applyPokeFilters;
	export let pokemonFiltered;
	export let filterHeight;
	export let filterWeight;
	export let selectedTypes;
	export let selectPokemon;
	export let pokemonSelected;
</script>

<div class="container mt-2 pt-2">
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<Screen {pokemonSelected} />
		</div>
		<div class="col-md-4 col-sm-12 gameboy-screen-list">
			<List
				{filterPokemon}
				{applyPokeFilters}
				{pokemonFiltered}
				{filterHeight}
				{filterWeight}
				{selectedTypes}
				{selectPokemon}
			/>
		</div>
	</div>
</div>

<style>
	.gameboy-screen-list {
		background: url($lib/images/list.svg) no-repeat;
		background-size: contain;
		background-position: center;
		z-index: 100;
	}

	@media (max-width: 768px) {
		.gameboy-screen-list {
			margin-top: 1rem;
			width: 100%;
			z-index: 0;
		}
	}
</style>
