<script>
	import PokemonSoundPath from '$lib/audio/pokemon_theme.mp3';
	import { writable } from 'svelte/store';
	import { onMount } from 'svelte';
	const audio = writable('');
	const playW = writable(false);

	let audioFile;
	audio.subscribe((value) => {
		audioFile = value;
	});

	let play;
	playW.subscribe((value) => {
		play = value;
	});

	onMount(async () => {
		// When component is mounted, create an audio element and update audio store
		let audioElement = new Audio(PokemonSoundPath);
		audio.update((n) => audioElement);
	});

	// Function to play or pause audio based on play status
	function PlayPokemonSound() {
		if (!play) {
			audioFile.volume = 0.2;
			audioFile.play();
		} else {
			audioFile.pause();
		}
		playW.update((n) => !n);
	}
</script>

<footer>
	<!-- Button that play/pause pokemon theme <3  -->
	<!-- if u r reading this, thaks Tensoreye  this beautiful assessment, i really enjoy doing it -->
	<button on:click={PlayPokemonSound} class="btn btn-link text-success">
		<i class={`fa ${!!play ? 'fa-pause' : 'fa-play'}`} />
	</button>
	<p>Developed with {`</>`} and ❤️ by JesusC</p>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 5px;
		position: fixed;
		background-color: #a9051b;
		width: 100%;
		bottom: 0;
	}

	footer p {
		font-size: 0.8rem;
		margin: 0;
		color: #d8c94c;
		margin-top: 7px;
	}

	@media (max-width: 768px) {
		footer p {
			font-size: 0.55rem;
		}
	}
</style>
