<script>
	import biggestBlueLed from '$lib/images/biggestBlueLed.svg';
	import topBar from '$lib/images/topBar.svg';

	export let mute;
	export let cancelSound;
	export let pressButtonSound;
</script>

<div class="header">
	<div class="top-bar">
		<!-- Button to open webcam modal -->
		<button
			type="button"
			class="custom-button-led"
			data-bs-toggle="modal"
			data-bs-target="#webcamModal"
		>
			<img class="blue-led" src={biggestBlueLed} alt="blue led" />
		</button>

		<div class="pull-right search-container">
			<div class="d-flex">
				<div class="pull-right">
					<!--  Mute button -->
					<button on:click={cancelSound} class="btn btn-link">
						<i class={`fa ${!mute ? 'fa-volume-up' : 'fa-volume-off'}`} />
					</button>
				</div>
				<!-- Filter button -->
				<button
					on:click={pressButtonSound}
					type="button"
					class="btn btn-primary"
					data-bs-toggle="modal"
					data-bs-target="#exampleModal"
				>
					<i class="fa fa-filter" />
				</button>
			</div>
		</div>
	</div>
	<img class="cutout-header" src={topBar} alt="header" />
</div>

<style>
	.custom-button-led {
		border: none;
		background: transparent;
		position: absolute;
	}
	.cancel-sound {
		font-size: 1.5rem;
		margin-top: -16px;
	}
	.search-container {
		position: absolute;
		right: 6vw;
		margin-top: 20px;
	}
	.header {
		height: 159px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: fixed;
		width: 100%;
		top: 0;
	}

	.blue-led {
		left: 100px;
		position: absolute;
		top: 35px;
		width: 90px;
		z-index: 100;
	}

	.top-bar {
		background-color: #a9051b;
		height: 100px;
		width: 100%;
	}

	@media (max-width: 768px) {
		.cutout-header {
			top: 2vh;
			position: absolute;
			z-index: 1;
		}
		.search-container {
			margin-top: 15px;
		}
		.header {
			height: 10vh;
		}

		.blue-led {
			left: 5vw;
			position: absolute;
			top: 3vh;
			width: 40px;
		}
	}
	@media (max-width: 425px) {
		.cutout-header {
			left: -9rem;
			top: 0px;
		}
	}
</style>
