<script>
	export let filterPokemon;
	export let applyPokeFilters;
	export let pokemonFiltered;
	export let filterHeight;
	export let filterWeight;
	export let selectedTypes;
	export let selectPokemon;
</script>

<div class="search-list">
	<div class="container-pokelist mt-2">
		<input
			type="text"
			class="form-control search-input"
			id=""
			placeholder="Search Pokemon..."
			on:input={(e) => filterPokemon(e.target.value)}
		/>

		<div>
			<ol>
				{#each applyPokeFilters(pokemonFiltered, filterHeight, filterWeight, selectedTypes) as pokemon}
					<!-- svelte-ignore a11y-click-events-have-key-events -->
					<li key={pokemon?.id} on:click={() => selectPokemon(pokemon?.id)}>
						Nº{String(pokemon?.id).padStart(3, '0')} - {pokemon?.name}
					</li>
				{/each}
			</ol>
		</div>
	</div>
</div>

<style>
	.search-input {
		background: #c4c4c4;
		border: none;
		color: #a9051b;
		font-size: 0.8rem;
	}
	.container-pokelist {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	ol {
		display: flex;
		overflow-y: auto;
		flex-direction: column;
		max-height: 19.9rem;
		list-style: none;
		padding: 0;
		margin-top: 10px;
	}

	li:hover {
		transform: scale(1.01);
	}

	li {
		background-color: #242424;
		border-radius: 5px;
		color: #d7c94b;
		font-family: 'Press Start 2P';
		font-size: 0.7rem;
		margin-top: 10px;
		display: flex;
		padding: 10px 20px;
		text-transform: capitalize;
		cursor: pointer;
	}

	@media (max-width: 768px) {
		.search-input {
			margin-top: 20px;
		}
		ol {
			min-height: 24rem;
		}
		.container-pokelist {
			padding-left: 1rem;
			padding-right: 1rem;
			margin-top: 15rem;
			min-height: 30rem;
		}
	}
</style>
