<script>
	import { onMount } from 'svelte';

	let webcamStream;
	let videoElement;
	export let pressButtonSound;




/**
 *
 * Thanks for unlock this easter egg, i really wanna be that pokemon <3
 *
 *
 * MMMMMMMMMMMMMMMMWWNNNNWWMMMMMMMMMMMMMMMM
	MMMMMMMMMMWN0xl:;,'''',;:lx0NWMMMMMMMMMM
	MMMMMMMMXkc'.  ..........  .'ckXMMMMMMMM
	MMMMMMXd'  ..',;;;;;;;;;;,'..  'dXMMMMMM
	MMMMWk'  .';;;;;;;;;;;;;;;;;,'.  'kNMMMM
	MMMNo. .';;;;;;;;;;;;;;;;;;;;;,'. .oNMMM
	MMNo. .,;;;;;;;;;,,,,,,;;;;;;;;,'. .oNMM
	MMO. .,;;;;;;;;'........';;;;;;,,'. .OMM
	MWl  .;;;;;;;,. .lk00kl. .,;;;,,,,.  lWM
	MN:   .......  .dWMMMMWd.  .......   :XM
	MNc .cdddddddo. :KWMMWK: 'oddddooo,  cNM
	MWd. oWMMMMMMWO;..;::;..;0WMMMWNXK: .dWM
	MMK; .OWMMMMMMMN0dlccld0NMMMMMWNXo. ;KMM
	MMM0, 'kWMMMMMMMMMMMMMMMMMMMMWNKo. ,0MMM
	MMMM0; .lKWMMMMMMMMMMMMMMMMMWXk;  ;0MMMM
	MMMMMXd' .ckXWMMMMMMMMMMMMN0d;. 'dXMMMMM
	MMMMMMMXd;. .:lxO0KKKK0kdc,. .;dXMMMMMMM
	MMMMMMMMMW0dc,............,cd0WMMMMMMMMM
	MMMMMMMMMMMMMNX0kxddddxk0XNMMMMMMMMMMMMM
	MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
 *
 *
 *
 */




	// Request access to the user's webcam and start streaming it
  function playStream() {
		videoElement = document.querySelector('#webcamVideo');
		navigator.mediaDevices
			.getUserMedia({ video: true })
			.then((stream) => {
				// Store the stream in a global variable
				webcamStream = stream;
				// Set the video element's source to the webcam stream
				videoElement.srcObject = stream;
			})
			.catch((error) => {
				console.error('Failed to get webcam stream:');
			});
		// Play the button press sound
		pressButtonSound();
	}

	function closeModal() {
		pressButtonSound();
	}

	onMount(async () => {
		playStream();
	});
</script>

	<div
		class="modal fade"
		id="webcamModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="webcamModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="webcamModalLabel">who's that pokemon?</h5>
					<button
						type="button"
						class="btn-close"
						aria-label="Close"
						data-bs-dismiss="modal"
						on:click={closeModal}
					/>
				</div>
				<div class="modal-body">
					<div class="d-flex justify-center container-tensor">
						<!-- svelte-ignore a11y-media-has-caption -->
						<video id="webcamVideo" class="w-50 video" autoplay playsinline />
						<h3>That pokemon is Tensoreye!</h3>
					</div>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal"
						on:click={closeModal}>Done</button
					>
				</div>
			</div>
		</div>
	</div>

<style>
  video#webcamVideo {
		border-radius: 100%;
		margin-bottom: 20px;
		border: solid 5px #a9051b;
	}

	.container-tensor {
		flex-direction: column;
		align-items: center;
	}
</style>
