<script>
  export let pressButtonSound;
  export let filterWeight;
  export let filterHeight;
  export let allTypes;
  export let selectAllTypes;
  export let pokemonTypes=[];
  export let selectedTypes;
  export let setActive;
  export let setFilter;
</script>

<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Filter Pokemon</h1>
				<button
					on:click={pressButtonSound}
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				/>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<label for="customRange1" class="form-label w-100">
							<div class="d-flex justify-content-between">
								Weight <input
									type="number"
									class="number-input"
									bind:value={filterWeight}
                  on:input={() => setFilter('Weight',filterWeight)}
									min="0"
								/>
							</div>
						</label>
						<input
							type="range"
							class="form-range"
							min="0"
							max="1000"
							bind:value={filterWeight}
              on:input={() => setFilter('Weight',filterWeight)}
						/>
					</div>

					<div class="col-12">
						<label for="customRange1" class="form-label w-100">
							<div class="d-flex justify-content-between">
								Heigth <input
									type="number"
									class="number-input"
									bind:value={filterHeight}
                  on:input={() => setFilter('Height',filterHeight)}
									min="0"
								/>
							</div>
						</label>
						<input
							type="range"
							class="form-range"
							min="0"
							max="100"
							bind:value={filterHeight}
              on:input={() => setFilter('Height',filterHeight)}
						/>
					</div>
					<div class="col-12 mt-1">
						<div class="parent">
							<div class="form-check form-switch">
								<input
									class="form-check-input"
									type="checkbox"
									role="switch"
									checked={allTypes}
									on:change={selectAllTypes}
									value="all"
								/>
								<label class="form-check-label" for="">All</label>
							</div>

							{#each pokemonTypes as type}
								<div class="form-check form-switch">
									<input
										class="form-check-input"
										type="checkbox"
										role="switch"
										checked={selectedTypes.indexOf(type.name.toLowerCase()) != -1}
										id={type.name}
										on:change={() => setActive(type.name)}
										value={type.name}
									/>
									<label class="form-check-label capitalize" for={type.name}>{type.name}</label>
								</div>
							{/each}
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					data-bs-dismiss="modal"
					on:click={pressButtonSound}
					type="button"
					class="btn btn-primary">Apply</button
				>
			</div>
		</div>
	</div>
</div>

<style>
  .number-input {
		width: 50vw;
		text-align: right;
		background: #fafafa;
		border: none;
	}

  .parent {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
</style>
