<script>
	export let pokemonSelected;
</script>

<div class="d-flex img-container" style="justify-content: space-around;">
	<img
		class="sample img-responsive gameboy-screen-img"
		alt="pokémon"
		src={pokemonSelected?.front_default}
	/>
	<div class="container-description mt-2">
		<div class="details-container mt-2 name-id">
			<h2 class="capitalize">
				{`${String(pokemonSelected?.id).padStart(3, '0')} - ${pokemonSelected?.name}`}
			</h2>
			<p class="">Weight: {pokemonSelected?.weight}lbs</p>
			<p class="">Height: {pokemonSelected?.height}''</p>
			{#if pokemonSelected?.typepokemon.length}
				<p class="type-of-pokemon mt-1">
					{#each pokemonSelected?.typepokemon as type}
						<span class="capitalize text-success">{type?.type?.name}</span>
					{/each}
				</p>
			{/if}
		</div>
		<div class="details-container mt-2 description">
			<p>
				{pokemonSelected?.descriptionPoke}
			</p>
		</div>
	</div>
</div>

<style>
	.type-of-pokemon span:not(:last-child)::after {
		content: ',';
		margin-right: 1px;
	}

	.img-container {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 3rem;
	}

	.gameboy-screen-img {
		background: url($lib/images/canvas.svg) no-repeat;
		background-size: contain;
		padding: 40px;
		width: 50%;
	}

	.name-id {
		width: 320px;
		padding: 10px;
		background-color: #242424;
		border-radius: 10px;
	}

	.name-id h2 {
		color: #d7c94b;
		font-size: 16px;
		text-align: left;
		margin-bottom: 10px;
	}
	.name-id p {
		color: #d7c94b;
		font-size: 12px;
		text-align: left;
		margin: 0;
	}

	.description {
		margin-top: 10px;
		width: 320px;
		padding: 10px;
		background-color: #242424;
		border-radius: 10px;
	}

	.description p {
		margin: 0;
		line-height: 1.7;
		color: #d7c94b;
		font-size: 10px;
		margin: 0;
	}

	@media (max-width: 768px) {
		.details-container {
			min-width: 85vw;
			height: 113px;
			margin-right: 20px;
			margin-top: 0 !important;
		}

		.container-description {
			display: flex;
			overflow-x: auto;
			max-width: 100%;
		}

		.gameboy-screen-img {
			padding: 20px;
			width: 100%;
			margin-bottom: 1rem;
		}

		.img-container {
			flex-direction: column;
			padding-top: 0;
			margin-bottom: 1rem;
		}
	}
</style>
